/* 
*{
    font-size: medium;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}

.header-logo {
    height: 25px;
    width: 25px;
    margin: auto;
  }
  
  .acc-header {
    font-size: 25px;
    color: #027683;
    font-weight: 500;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .menu-bar {
    height: 50px;
    background-color: pink;
  }

.addUser-page{
    text-align: center;
}

.pd-card{
    width: 50em;
    margin: auto;
    margin-top: 10px !important;
}

textarea{
    resize: none;
}

.profile-img{
    height: 220px;
    width: 220px;
    border-radius: 50%;
    margin: auto;
    color: #BCB7D8;
    filter: drop-shadow(0 0 8px #E7D2CF);
}

.img-upload{
    margin: auto;
    margin-left: 245px;
    border: none;
    color: #6CBEBF;
}

  /* .input-text {
    filter: drop-shadow(0 0 1px #BCB7D8);
}  */

/* .label-text{
    color: #6CBEBF;
} 

.save-btn{
    margin: auto;
    color: #E7D2CF;
    background-color: #6CBEBF   ;
}*/

 /* .personal-details-page{
    background-color: #C7CECB;
}  */
/* 
::placeholder{
    color: #6CBEBF;
}

  .showRecommendation{
    background-color: rgb(205, 228, 236);
    height: auto;
    width: 100%;
  }

  .recommend-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
    padding-bottom: 15px;
    position: relative;
    color: #345676;
}

.recommend-title::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #d43076;
  bottom: 0;
  left: 0;
}  */

/* 64ac15 */
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  padding: 1em;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #b9b9b9;
  background-color: #e3e3e3;
}
h4 {
  color: #f0a500;
}

.btn-primary{
  margin-right: 15px;
  border-radius: 8px;
  background-color: #6CBEBF; /* Green */
  color: white;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

label {
  width:inherit;
  padding: 1em;
  float:left;
  text-align:left;
  margin-right:5px;
  line-height: 1.4;
}


input,
select {
  float:left;
  text-align:left;
  margin-right:5px;
  clear: both;
  width:60%;
  padding: 1em;
  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
input:focus {
  outline: 0;
  border-color: #bd8200;
}
input:focus + .input-icon i {
  color: #f0a500;
}
input:focus + .input-icon:after {
  border-right-color: #f0a500;
}
 .SelectRadio {
  display: inline-block;
  text-align: center;
  border-radius: 0;
} 
 /* input[type="radio"] + label,
select {
  display: inline-block;
  width: 50%;
  text-align: center;
  float: left;
  border-radius: 0;
} 
 input[type="radio"] + label:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
input[type="radio"] + label:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
input[type="radio"] + label i {
  padding-right: 0.4em;
}
input[type="radio"]:checked + label,
input:checked + label:before,
select:focus,
select:active {
  background-color: #f0a500;
  color: #fff;
  border-color: #bd8200;
} */
/* input[type="checkbox"] { 
  display: none;
}
input[type="checkbox"] + label {
  position: relative;
  display: block;
  padding-left: 1.6em;
}
input[type="checkbox"] + label:before {
  position: absolute;
  top: 0.2em;
  left: 0;
  display: block;
  width: 1em;
  height: 1em;
  padding: 0;
  content: "";
}
input[type="checkbox"] + label:after {
  position: absolute;
  top: 0.45em;
  left: 0.2em;
  font-size: 0.8em;
  color: #fff;
  opacity: 0;
  font-family: FontAwesome;
  content: "\f00c";
} */
input:checked + label:after {
  opacity: 1;
}
select {
  height: 3.4em;
  line-height: 2;
}
select:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
select:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
select:focus,
select:active {
  outline: 0;
}
select option {
  background-color: #f0a500;
  color: #fff;
}
.input-text {
  margin-bottom: 1em;
  zoom: 1;
}
.input-text:before,
.input-text:after {
  content: "";
  display: table;
}
.input-text:after {
  clear: both;
}
.input-text-icon {
  position: relative;
}
.input-text-icon input {
  padding-left: 4.4em;
  padding-right: 4.4em;
}
.input-text-icon .input-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.4em;
  height: 3.4em;
  line-height: 3.4em;
  text-align: center;
  pointer-events: none;
}
.input-text-icon .input-icon:after {
  position: absolute;
  top: 0.6em;
  bottom: 0.6em;
  left: 3.4em;
  display: block;
  border-right: 1px solid #e5e5e5;
  content: "";
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.input-text-icon .input-icon i {
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.addUser-page {
  max-width: 38em;
  padding: 1em 3em 2em 3em;
  margin: 0em auto;
  background-color: #fff;
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}
.row {
  zoom: 1;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.col-half {
  padding-right: 10px;
  float: left;
  width: 50%;
}
.col-half:last-of-type {
  padding-right: 0;
}
.col-third {
  padding-right: 10px;
  float: left;
  width: 33.33333333%;
}
.col-third:last-of-type {
  padding-right: 0;
}
@media only screen and (max-width: 540px) {
  .col-half {
    width: 100%;
    padding-right: 0;
  }
}
